MenusWebsite/Service References/ServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MenusAPI" />
  <xs:element name="ResetDatabase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MenusAPI" minOccurs="0" name="request" nillable="true" type="q1:ResetDatabaseRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetDatabaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MenusAPI" minOccurs="0" name="ResetDatabaseResult" nillable="true" type="q2:APIReply" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsDatabaseUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MenusAPI" minOccurs="0" name="request" nillable="true" type="q3:IsDatabaseUpRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsDatabaseUpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MenusAPI" minOccurs="0" name="IsDatabaseUpResult" nillable="true" type="q4:APIReply" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MenusAPI" minOccurs="0" name="request" nillable="true" type="q5:AuthenticateUserRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MenusAPI" minOccurs="0" name="AuthenticateUserResult" nillable="true" type="q6:AuthenticateUserReply" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MenusAPI" minOccurs="0" name="request" nillable="true" type="q7:LogoutUserRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MenusAPI" minOccurs="0" name="LogoutUserResult" nillable="true" type="q8:APIReply" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MenusAPI" minOccurs="0" name="request" nillable="true" type="q9:CreateNewAccountRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MenusAPI" minOccurs="0" name="CreateNewAccountResult" nillable="true" type="q10:APIReply" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CUDUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MenusAPI" minOccurs="0" name="request" nillable="true" type="q11:CUDUsersRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CUDUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MenusAPI" minOccurs="0" name="CUDUsersResult" nillable="true" type="q12:CUDOperationsReply" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CUDMenus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MenusAPI" minOccurs="0" name="request" nillable="true" type="q13:CUDMenusRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CUDMenusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MenusAPI" minOccurs="0" name="CUDMenusResult" nillable="true" type="q14:CUDOperationsReply" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CUDRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MenusAPI" minOccurs="0" name="request" nillable="true" type="q15:CUDRolesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CUDRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/MenusAPI" minOccurs="0" name="CUDRolesResult" nillable="true" type="q16:CUDOperationsReply" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/MenusAPI" minOccurs="0" name="request" nillable="true" type="q17:ReadLogRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/MenusAPI" minOccurs="0" name="ReadLogResult" nillable="true" type="q18:ReadObjectsReply" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadMenus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/MenusAPI" minOccurs="0" name="request" nillable="true" type="q19:ReadMenusRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadMenusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/MenusAPI" minOccurs="0" name="ReadMenusResult" nillable="true" type="q20:ReadObjectsReply" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/MenusAPI" minOccurs="0" name="request" nillable="true" type="q21:ReadUsersRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/MenusAPI" minOccurs="0" name="ReadUsersResult" nillable="true" type="q22:ReadObjectsReply" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/MenusAPI" minOccurs="0" name="request" nillable="true" type="q23:ReadRolesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/MenusAPI" minOccurs="0" name="ReadRolesResult" nillable="true" type="q24:ReadObjectsReply" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>